.App {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.App section {
  flex: 1;
  border: 1px solid rebeccapurple;
  padding: 4px;
}

.user-list li {
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list li:hover {
  color: burlywood;
}